// 
// user.scss
// Use this to write your custom SCSS
//* 
.bg-blue{
    background-color: #171760;
}
h3 {
    color: #171760;
}
a.nav-link:hover{
    color:#FFE130;
    text-decoration: underline 3px;
    text-decoration-color: #FFE130;
}
a.nav-link{
    color:white;
}
.card-img-top {
      max-width:35%;
      max-height:35%;
    }
.card {
    background: #ccccff;
}
.card2{
    background:#cce4ff;
}
.btn {
    background:#171760;
    color: white;
}
.btn:hover {
    background: black;
    color:#FFE130;
    text-decoration: underline 3px;
    text-decoration-color: #FFE130;
}
.bl-bg{
    background: #cce4ff;
}
.nav-tabs .nav-link:not(.active){
    color: #171760;
}
.nav-tabs .nav-link:not(.active):hover {
    color: black;
}
a.dropdown-item {
    color: #171760;
}
a.dropdown-item:hover {
    color:black;
    text-decoration: underline 3px;
    text-decoration-color: #FFE130;
}
.bldark-bg {
    background: #ccccff;
}
p{
    font-size: 	1.125em;
}

