// 
// user.scss
// Use this to write your custom SCSS
//* 
.bg-blue{
    background-color: #171760;
}
h3 {
    color: #171760;
}
a.nav-link:hover{
    color:#FFE130;
    
    text-decoration: underline;
    text-decoration-color: #FFE130;
}
a.nav-link{
    color:white;
}
.card {
    background: radial-gradient(circle, #ccccff 48%, #aeaeff 95%);
}
.wivy{
    background: radial-gradient(circle, #cce4ff 48%, #a5d0ff 95%);
}
.peoplec {
    background: radial-gradient(circle, #eeddff 48%, #e3c7ff 95%);

}
.ilobedcard {
    max-width: 50%;
    max-height: 100%;
}
.btn {
    background:#171760;
    border: #171760;
    color: white;
}
.btn:hover {
    background: black;
    color:#FFE130;
    text-decoration: underline;
    text-decoration-color: #FFE130;
}
.bl-bg{
    background: #cce4ff;
}

.nav-tabs .nav-link:not(.active){
    color: #171760;
}
.nav-tabs .nav-link:not(.active):hover {
    color: black;
}
a.dropdown-item {
    color: #171760;
}
a.dropdown-item:hover {
    color:black;
    text-decoration: underline;
    text-decoration-color: #FFE130;
}
.bldark-bg {
    background: #ccccff;
}
p{
    font-size: 1.125em;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
.under {
    text-decoration: underline;
    text-decoration-color: #171760;
}
.skills {
    color: #171760;
}